//Menu button
.menu-btn {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeOut;

    .btn-line {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: setTextColor($primary-color);
        @include easeOut;
    }

    &.close {
        transform: rotate(-0.5turn);

        .btn-line {

            //Rotate the first line
            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            }

            //Hide line 2
            &:nth-child(2) {
                opacity: 0;
            }

            //Rotate the lasr line
            &:nth-child(3) {
                transform: rotate(-45deg) translate(6px, -7px);
            }
        }
    }
}

//Menu Overlay
.menu {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
    visibility: hidden;

    &.show {
        visibility: visible;
    }

    &-branding,
    &-nav {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;

    }

    &-nav {
        margin: 0;
        padding: 0;
        background: darken($primary-color, 5);
        list-style: none;
        font-size: 1.5rem;
        transform: translate3d(0, -100%, 0);
        @include easeOut;

        &.show {
            transform: translate3d(0, 0, 0);
        }
    }

    &-branding {
        background: $primary-color;
        @include easeOut;
        transform: translate3d(0, 100%, 0);

        &.show {
            transform: translate3d(0, 0, 0);
        }

        .portrait {
            width: 250px;
            height: 250px;
            background: url('../img/portrait-Recovered.jpg');
            background-size: cover;
            opacity: 1;
            border-radius: 50%;
            border: 3px solid $secondary-color;
        }
    }

    .nav-item {
        transform: translate3d(600px, 0, 0);
        @include easeOut;

        // I need some delay
        &.show {
            transform: translate3d(0, 0, 0);
        }

        .nav-link {
            display: inline-block;
            position: relative;
            font-size: 30px;
            text-transform: uppercase;
            padding: 1rem 0;
            font-weight: 400;
            color: setTextColor($primary-color);
            text-decoration: none;
            @include easeOut;

            &:hover {
                color: $secondary-color;
            }
        }

        &.current>a {
            color: $secondary-color;
        }
    }
}

//Delay nav items slide by 0.1s
@for $x from 1 through 4 {
    .nav-item:nth-child(#{$x}) {
        transition-delay: $x * 0.1s;
    }
}